################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/genasm-gpu/v16/ipch/AutoPCH/a801eed27a9bbf2f/GENASM.ipch
/.vs/genasm-gpu/v16/ipch/AutoPCH/a801eed27a9bbf2f
/.vs/genasm-gpu/v16/Browse.VC.db
/.vs/genasm-gpu/v16/.suo
/.vs/genasm-gpu/v16
/.vs
/GenASM-GPU.vcxproj.user
/GenASM-GPU.vcxproj.filters
/GenASM-GPU.vcxproj
/GenASM-GPU.sln
.vscode/**
**/*.exe
**/*.exp
**/*.lib
**/*.stats
**/*.swp
**/*.o
**/*.out
datasets/**
**/*.pdb
logs/**
cpu_baseline
tests
measurements.txt
todolist.txt
**/darwin
**/build/
profile/
plots/
omp_scaling*
seeding/*
bid
baseline_algorithms/cudasw++v3.1.2/cudasw
fix_csv.py
.DS_Store
*.tar
*.tar.gz
library_example
cacti
tmp
scripts/check_unnecessary_files.py
